#investmentcontainer{
    width: 90%;
    margin: auto;
    height: 1000px;
    margin-bottom: 200px;
    text-align: left;
}
.card1{
    position: absolute;
    margin: auto;
    width: 350px;
height: 400px;
transform: rotate(-14.407deg);
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(138deg, #74DB96 0%, #1DF5F4 99.91%);
}
.card1 img{
    width: 73px;
height: 96px;
transform: rotate(12.204deg);
flex-shrink: 0;
margin-left: 15px;
margin-top: 15px;
}
.card1 h3{
    color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -15px;
margin-left: 18px;
}

.card2{
    position: absolute;
    left: 550px;
    top: 655px;
    width: 350px;
height: 500px;
transform: rotate(2.739deg);
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(337deg, #C0CEED 0%, #CDBFD3 7.81%, #D100CE 31.77%, #FC583D 44.27%, #E5CCD1 71.35%, #FDD8D0 78.13%, #FA8A77 99.91%);
}
.card2 img{
    width: 73px;
    height: 96px;
    transform: rotate(15.466deg);
    flex-shrink: 0;
margin-left: 15px;
margin-top: 15px;
}
.card2 h3{
    color: #000;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -15px;
margin-left: 18px;
}

.card3{
    position: absolute;
    margin-left: 400px;
    width: 350px;
height: 450px;
transform: rotate(25.199deg);
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(85deg, #FEC974 0%, #FA8A77 99.91%);
}
.card3 img{
    width: 73px;
    height: 96px;
    transform: rotate(17.956deg);
    flex-shrink: 0;
    margin-left: 15px;
margin-top: 15px;
}
.card3 h3{
    transform: rotate(5.235deg);
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -5px;
margin-left: 18px;
}